UNIBOT_FRONTEND_PLATFORM_NPM_DEPENDENCY_URL: git+https://github.com/intela-bot/unibot-fe-platform.git
EDX_UNIBOT_PIP_DEPENDENCY_URL: git+https://github.com/intela-bot/edx-unibot.git#egg=uni_bot
EDX_UNIBOT_BRANCH: main
EDX_UNIBOT_VCS_URL: https://github.com/intela-bot/edx-unibot
EDX_UNIBOT_PATH_INSIDE_CONTAINER: /openedx/requirements/edx-unibot/
EDX_UNIBOT_SETTING_UNIBOT_BASE_URL: https://example.com
EDX_UNIBOT_SETTING_UNIBOT_JWT_SECRET_KEY: "<JWT_TOKEN>"
EDX_UNIBOT_SETTING_INCLUDE_FILE_CONTENT_DURING_DATA_COLLECTION = True
